

<h1>About Build.ly</h1>
<p>Build.ly comes down to one thing building things. Whatever it may be.</p>
<p> You can also sell how you built something. Make the best planes you can possibly make and open up your videos to teach people how to build something. It can be absolutely anything you want. As long as you are building. </p>

<p> Build something from one of our tutorials, then sell it in our marketplace. </p>



<h2> For the Builders </h2>
<p> If you want to build something, find a good starting point </p>


<h2> For the Creators </h2>



<h2> Create, Build, Sell </h2> 



<p> We are here to address a few problems one, people have questions and need help, people who build stuff don't have time to answer them because they aren't making any money from it. So pay a little get better designs, fuel the market. Also people who create should be able to make a profit from it. We are trying to create the market place for it. </p>

<iframe src="//fast.wistia.net/embed/iframe/142unpmz00" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="900" height="506"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>